@import "tailwindcss";

@theme {
  --text-shadow-outline: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
    --box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

}

@utility text-shadow-outline {
  text-shadow: var(--text-shadow-outline);
}

@utility box-shadow {
  box-shadow: var(--box-shadow);
}


@layer utilities {
  .text-outline-white {
    -webkit-text-stroke: 1px white; /* white outline with 1px stroke */
    text-stroke: 1px white; /* fallback */
  }
  .text-outline-white-2 {
    -webkit-text-stroke: 2px white; /* thicker white outline */
    text-stroke: 2px white;
  }
    .text-outline-black {
    -webkit-text-stroke: 0.5px black; /* black outline with 1px stroke */
    text-stroke: 0.5px black; /* fallback */
  }
  .text-outline-black-2 {
    -webkit-text-stroke: 2px black; /* thicker black outline */
    text-stroke: 2px black;
  }
}
 
